html
	head
		title= id
		meta(charset="UTF-8")
		link(href="/css/conclusiones-display.css", rel="stylesheet", type="text/css")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Trocchi", rel="stylesheet")
	body
		div(class="container")
			div(class="header-box")
				h1= id
			div(class="content-box")
				p(class="main")= contenido